table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
  }

th {
    width: 12rem;
    padding: 1rem;
}

td {
    text-align: center;
}

p{
    font-size: x-large;
    font-weight: 600;
}